<html>
    <head>
        <title>Psudeonym</title>
        <link rel="icon" sizes="192x192" href="/static/vulture.JPG">
    </head>
    <style>
    body {
    background-color: lightblue
    }
    </style>
    <body>
        <h1>Hello fellow stranger!</h1>
        <p>Please enter your name below.</p>
        <form method = "post" action = "/thanksSub">
            <input type="text" name="userName" placeholder="Enter your name"/>
            <input type="submit" value="Submit"/>
        </form>
        
        <a href = "/psudeonym">secret?</a>
        
    </body>
</html>